.bookName {
  left: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  color: #27378c;
  padding-bottom: 8px;
}

.authorName {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #545454;
  padding-bottom: 8px;
}

.timeToRead {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #545454;
  padding-bottom: 24px;
}

.details {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding-bottom: 24px;
}

.backHomeButton {
  width: 178px;
  height: 44px;
  border: 2px solid #27378c;
  border-radius: 8px;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #27378c;
  align-self: flex-start;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}

.backHomeButton:hover {
  background-color: #27388c17;
  cursor: pointer;
}

.readButton {
  width: 178px;
  height: 44px;
  border: 2px solid #27378c;
  border-radius: 8px;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
  align-self: flex-start;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #27378c;
}

.readButton:hover {
  background-color: #27388cee;
  cursor: pointer;
}

.bookCover {
  width: 425px;
  height: 610px;
  filter: drop-shadow(1.87536px 1.87536px 1.87536px rgba(0, 0, 0, 0.25));
  border-radius: 11.2522px;
}
